.transaksi-detail h2 {
    color: #4A4A4A;
    font-size: 14px;
    padding-left: 10px;
    margin-top: -5px;
    font-weight: bold;
}

.transaksi-detail span {
    padding: 10px;
    color: #9B9B9B;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.39px;
    line-height: 15px;
}

.transaksi-detail p {
    padding: 0 10px 0px;
}

.transaksi-detail {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.transaksi-detail-invoice {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.transaksi-detail-invoice img {
    height: 88px;
    width: 90px;
}

.transaksi-detail-invoice span {
    margin-top: 5px;
    font-size: 12px;
}

.invoiceDetailTransaksi span {
    display: block;
}

.priceInvoiceCustomerDetail {
    display: unset !important
}

.priceInvoiceCustomerDetail span {
    color: #FFA122;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
}

.transaksi-detail-invoice .media-body {
    margin-top: -10px;
}

.invoiceCustomerWrapper {
    margin-top: -8rem;
}

.invoiceCustomerWrapper h4 {
    color: #4A4A4A;
    font-size: 15px;
    font-weight: 500;
}

.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}

.process-model li::before {
    background: #333333;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -35px;
    top: 33px;
    width: 60%;
    opacity: 0.5;
    z-index: -1;
}

.process-model li:last-child::before {
    width: 0;
}

.process-model li {
    display: inline-block;
    margin-left: 2em;
    text-align: center;
    float: none;
}

.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
    background-color: unset !important;
}

.process-model .active p {
    color: #57b87b;
}

.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
}

.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    line-height: 65px;
    font-size: 30px;
    opacity: 0.5;
}

.butuhBantuanInvoice {
    background-color: #6dd5ed;
    border: 1px solid #4A90E2;
    padding: 10px;
}

.totalPrice {
    border: 1px solid black;
    padding: 10px;
}

.totalPrice span {
    font-size: 14px;
}