.notFound {
    text-align: center;
}

.notFound h2 {
    font-size: 80px;
    color: #ddd;
    font-weight: bold;
}

.notFound-paragraf {
    font-weight: bold;
    font-size: 28px;
}

.notFound a {
    font-size: 14px;
    color: #9c27b0 !important;
}