.html,
body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #FFFFFF !important;
  min-height: 100%;
}

a {
  color: #323A45 !important;
}

button:focus {
  outline: unset !important;
}

.btn.focus,
.btn:focus,
.btn:hover {
  background-color: greenyellow;
  color: white;
  text-decoration: none;
}

.products-item.row {
  margin-top: -22px;
}

.slick-prev::before {
  color: black !important;
}

.slick-next::before {
  color: black !important;
}

.svg-inline--fa {
  display: inline-block;
  font-size: 16px;
  overflow: visible;
  vertical-align: -.125em;
  color: white;
}

.quantity {
  margin-left: 10px;
  margin-right: 10px;
}

span.buttonKategoriProduct {
  margin-top: 3px;
  color: #323A45;
  font-size: 14px;
  font-weight: 500;
  line-height: 44px;
  margin-left: 1em;
}

.style-size {
  padding: 5px 5px;
}

.breadcrumb {
  background-color: unset !important;
  font-size: 12px;
  padding: .75rem 0rem !important;
}

.breadcrumb-item.active {
  color: rgb(63, 63, 62);
}

.breadcrumb-item a {
  color: rgb(255, 152, 0) !important;
}

.icon-dashboard {
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (max-width: 380px) {
  .process-model.more-icon-preocess li {
    width: 16%;
  }

  .more-icon-preocess.process-model li span {
    font-size: 16px;
    height: 35px;
    line-height: 32px;
    width: 35px;
  }

  .more-icon-preocess.process-model li p {
    font-size: 8px;
  }

  .more-icon-preocess.process-model li::after {
    top: 18px;
  }

  .process-model.more-icon-preocess {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
    font-size: 23px;
    height: 50px;
    line-height: 46px;
    width: 50px;
  }

  .more-icon-preocess.process-model li::after {
    top: 24px;
  }
}

@media screen and (min-width: 576px) {

  .formUserDashboard .modal-dialog {
    max-width: 560px !important;
    margin: 1.75rem auto;
  }

  .productDetailTambahKeranjang .modal-dialog {
    max-width: 300px !important;
    margin: 23.23rem auto;
  }

  .product-detail .modal-dialog {
    max-width: 360px !important;
  }

  .loginPopUp .modal-dialog {
    max-width: 300px !important;
    margin: 23.23rem auto;
  }

}

@media screen and (max-width: 850px) {

  .text-bottom-navigation {
    margin-left: unset;
  }

  .dashboard-customer .MuiFormControl-fullWidth-264 {
    width: 100%;
  }

  .dashboard-customer.container {
    margin-top: 30.30em;
  }

  .dashboard-customer .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    width: 100%;
  }

  .cart-product {
    margin-top: 25.25em;
  }

  .content-home-baju img {
    width: 100%;
  }

  .content-signup.row img {
    margin-top: 0em;
  }



}

@media screen and (max-width: 1000px) {
  .textTitleNavbar {
    margin-left: 4em;
  }

  .titleLogoNavbar {
    font-size: 20px;
  }

  .titleLogoBottomNavbar {
    margin-left: 5em;
  }
}

/* .card__inner {
  overflow: hidden;
}

.card__buttons {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.card__buttons a {
  position: relative;
  float: left;
  padding: 20px;
  text-decoration: none;
  color: #FFFFFF;
  outline: "unset" !important;
  width: 20em;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
}

.card__buttons a:hover {
  color: #FFFFFF;
}

.card:hover .card__buttons {
  -webkit-transform: translateY(-38px);
  transform: translateY(-38px);
  background: rgba(250, 80, 0, .8);
  width: 100%;
} */