.navbar-inverse .text-bottom-navigation a {
    color: black !important;
    font-size: 14px;
}

.navbar-inverse li {
    list-style: none;
}

.navbar-inverse {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0px;
    background-color: #FFFFFF;
}

.navigation-menu {
    margin-top: -1em;
}

.navigation-menu .modal-dialog {
    width: 375px;
}

.navigation-menu .modal-header {
    border-bottom: unset;
}

.img-navbar {
    margin-top: 15px;
    width: 250px;
}

.icon-search {
    margin-top: 2em;
}

.search-style {
    height: 40px;
    width: 100%;
    border: 1px solid #F5A623;
    border-radius: 6px;
    padding-left: 3em;
    background-image: url("../../../img/Icon\ _\ Search.svg");
    background-repeat: no-repeat;
    background-position: 1em;
    font-size: 14px !important;
}

.search-style::before {
    border-bottom: unset !important;
}

.search-style::after {
    border-bottom: unset !important;
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.icon-navbar-inverse {
    padding-top: 10px;
}

hr.line-navigation {
    height: 1px;
    background-color: #F1D9B2;
    border-top: unset;
    border: unset;
}