.content-kategori-product img {
    margin: auto;
}

.content-kategori-product p {
    color: #323A45;
    font-size: 33px;
    line-height: 24px;
    text-align: center;
}

.content-kategori-product {
    margin-bottom: 2.2em !important;
    margin-top: 15.15em !important;
}

.item-content-kategori-product p {
    color: #4A4A4A;
    font-size: 12px;
    font-weight: 500;
}

.item-content-kategori-product span {
    font-size: 14px;
    color: #FFA122;
    font-weight: 500;
}

.text-button-kategori-produk {
    text-align: center;
}

.button-kategori-product {
    height: 47px;
    width: 189px;
    border: 1px solid #979797;
    background-color: transparent;
    margin-top: 22px;
}

.sidebar-kategori-product .MuiFormControlLabel-root-359 {
    display: block !important;
}