.contentSearchWrapper {
    margin-top: 12em;
    margin-bottom: 3em;
}

.contentSearchWrapper span {
    font-size: 14px;
    color: #FFA122;
    font-weight: 500;
}

.contentSearch span {
    font-size: 13px !important;
    color: #ff9800;
    font-weight: bold;
}