div>input+img {
    cursor: pointer;
    border: 2px solid transparent;
}

div>input:select+img {
    border: 2px solid rgb(217, 255, 0);
}

.box-image {
    border: 1px solid #DCDCDC;
    font-size: 12px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.box-parent {
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.input-quantity {
    text-align: center;
}

.box-image:select+img {
    background-color: blue;
}

.box-image.tes.active {
    border: 2px solid #e69a0f;
}

img.radio-content-image {
    width: 36px;
    height: 36px;
    padding-top: 2px;
}

.lineDeskripsiProdukText {
    float: left;
    height: 1px;
    width: 170px;
    margin-top: 0px;
    background-color: #F79536;
}

.product-detail {
    margin-top: 12rem;
}

.product-detail .breadcrumb {
    background-color: unset !important;
}

.product-detail .breadcrumb-item.active {
    color: #FDC453;
}

.product-detail .breadcrumb-item {
    height: 15px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 15px;
}

.product-detail .breadcrumb a {
    color: #9B9B9B !important;
}

.product-detail .shipping {
    display: block;
    margin: auto;
}

.product-detail .button-tambah-keranjang {
    margin-top: 10px;
    color: #FFFFFF;
}


.deskripsi-produk-text {
    height: 32px;
    color: #F79536;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.name-item {
    color: #4A4A4A;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
}