span.text-signup {
    font-size: 13px;
}

.content-signup-text {
    color: #34495E;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.signup-controllabel {
    justify-content: center;
    width: 350px;
}

.content-signup {
    margin-bottom: 16px;
}