.CustomeridIcon {
    font-size: 30px;
    color: #F5A623;
}

.CustomeridIconText {
    color: #4A4A4A;
    font-size: 14px;
    float: right;
    font-family: sans-serif;
    margin-top: 7px;
    margin-left: 1em;
}