.cart-product {
    margin-top: 12.12em;
}

.cart-product .price-text span {
    font-size: 15px;
}

.cart-product .close-button-cart {
    text-align: right;
    margin-right: 10px !important;
    margin-top: 10px !important;
    color: #4A4A4A;
    cursor: pointer;
}

.cart-product h4 {
    color: #4A4A4A;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 2em;
}

.price-label-button {
    text-align: center;
}