.contentHomeContent {
    background-color: #EDEBEA;
    height: 65px;
}

.contentHomeContent span {
    padding-left: 10px;
}

.contentHomeContent p {
    padding: 15px 0px;
    text-align: center;
}