.dashboard-customer .nav-tabs>li {
    float: unset !important;
    margin-bottom: 10px;
}

.dashboard-customer .titleDashboard {
    color: #4A4A4A;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}

.dashboard-customer .nav {
    display: block;
}

.dashboard-customer .nav-tabs {
    border-right: 1px solid #dee2e6;
    border-bottom: unset;
}

.dashboard-customer .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    width: 138px;
    color: #FFFFFF !important;
    border-color: unset !important;
    background-color: #FFA122 !important;
    line-height: 33px;
}

.dashboard-customer .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: unset !important;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.dashboard-customer .nav-tabs>li>a:hover {
    border-color: unset !important;
}

.dashboard-customer.container {
    margin-top: 11.11em;
    margin-bottom: 5.5em;
}

.dashboard-customer .nav-link {
    color: #4A4A4A;
    display: block;
    padding: 3px !important;
    font-size: 15px;
    border: unset !important;
    border-top: unset !important;
}

.dashboard-customer .MuiFormControl-fullWidth-264 {
    width: 40%;
}

.dashboard-customer .img-circle {
    border-radius: 50%;
    height: 85px;
}

.dashboard-customer .alamat-dashboard {
    border: 1px solid #4A90E2;
    border-radius: 6px;
    background-color: #F4F9FF;
}

.alamat-detail {
    border: 1px solid rgb(226, 74, 74);
    border-radius: 6px;
}

.alamatDisebaled {
    border: 1px solid rgb(37, 36, 36);
    border-radius: 6px;
}

.dashboard-customer .alamat-dashboard-button {
    display: block;
    margin: 0 auto;
    margin-top: 22px;
}