.footer {
    background-color: #333333;
}

.footer .menu li a {
    color: #ffffff !important;
    font-size: 14px;
    line-height: 17px;
}

.footer .menu li {
    list-style: none;
}

.footer .svg-inline--fa.fa-w-14 {
    width: 1.875em;
}

.footer .footer-bottom p {
    color: #ffffff;
    text-align: center;
}

.menufirst img {
    display: block;
    margin: auto;
}

.menufirst {
    text-align: center;
}

.menuLeftRight {
    text-align: left;
    margin-top: 3em;
}

.line-footer-left {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 220px;
    width: 1px;
    border: 1px solid #979797;
    position: absolute;
    left: 0px;
}

.download-icon {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.download-icon b {
    color: white;
    display: block;
    text-align: center;
    margin: 10px;
}

.download-icon .form-control {
    height: 40px;
    width: 402px;
    border: 1px solid #595B5C;
    border-radius: 3px;
    background-color: #3F3F3F;
    margin: auto;
}

.footer-bottom {
    left: 0;
    bottom: 0;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: #878787;
    font-size: 14px;
    text-align: center;
}

.line-footer-right {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 228px;
    width: 1px;
    border: 1px solid #979797;
    position: absolute;
    right: 0px;
    top: -6px;
}

.form-input {
    position: relative;
}

.form-input+.form-input {
    margin-top: .8em;
}

.form-input .input {
    border: 1px solid #ebebeb;
    padding: .4em .7em;
    width: 100%;
    color: white;
    font-size: 16px;
}

.form-input .input:focus {
    background-color: #3F3F3F;
}

.form-input .icon {
    left: 5px;
    position: absolute;
    top: 25px;
}

.form-input .icon~.input {
    padding-left: 2em;
}

.form-input .button {
    background: none;
    border: none;
    position: absolute;
    top: 25px;
    right: 5px;
}

.form-input .button~.input {
    padding-right: 2em;
}

.footer-text {
    float: left;
    margin-left: 3em;
    display: block;
}