.contentHome {
    margin-top: 12rem;
}

.contentHome .carousel-indicators li {
    width: 10px;
    height: 10px;
}

.contentHome .carousel-indicators li:active {
    width: 10px;
    height: 10px;
}

.contentHome .carousel-indicators .active {
    margin: 1px;
}

.contentHome .carousel-indicators {
    margin-left: auto;
    margin-right: auto;
}

.contentHomeWrapper .sidebar-slider img {
    height: 190px;
    width: 100%;
    margin-bottom: 2em;
}

.contentHomeProduct b {
    color: #323A45;
    font-size: 21px;
    font-weight: bold;
    margin-left: 4px;
}

.contentHomeProductText {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: -20px;
    /* font-weight: 400; */
}

.contentHomeProduct .Card-card-249 {
    width: 100% !important;
}

.contentHomeProduct span {
    font-size: 14px;
    color: #FFA122;
    font-weight: 500;
}

.contentHomeProduct p {
    color: #4A4A4A;
    font-size: 14px;
    min-height: 20px;
}

.contentHomeProduct .RegularButton-justIcon-98 {
    padding-left: 61px;
    padding-right: 12px;
    padding-top: 1px;
}