.content-home-baju p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 169px;
    line-height: 132px;
    text-align: center;
}

.content-home-baju img {
    height: 150px;
    width: 115%;
}