.reset-password img {
    margin-left: auto;
    margin-right: auto;
}

.reset-password b {
    color: #323A45;
    font-size: 14px;
    letter-spacing: 0.02px;
    line-height: 17px;
}

.reset-password .nav-link {
    display: unset;
    padding: unset;
    margin-left: 5px;
}

.text-reset-password {
    text-align: center;
}

.text-reset-password-footer {
    text-align: center;
}

.text-reset-password-footer span {
    margin-left: 5px;
}

p.button-reset-password {
    text-align: center;
}