.buttonKategoryProduct input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttonKategoryProduct b {
    color: #323A45;
    font-size: 14px;
    font-weight: bold;
    line-height: 44px;
}

.buttonKategoryProduct {
    margin-left: -10px;
}

.product-detail .buttonKategoryProduct {
    margin-left: 0px;
    margin-top: 6px;
}