.invoice-customer {
    margin-bottom: 15px;
}

.customerInvoice {
    border: 1px solid #EDEBEA;
    border-radius: 1px 1px 3px 3px;
    background-color: #EDEBEA;
    box-shadow: 0 4px 6px 0 rgba(194, 194, 194, 0.5);
    height: 70px;
}

.customerInvoice h4 {
    font-size: 14px;
}

.waiting-price {
    color: #4A90E2;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    width: 180px;
}

.iteminvoiceCustomer {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(194, 194, 194, 0.5);
}

.iteminvoiceCustomer .media-heading {
    margin-top: 12px;
}

.iteminvoiceCustomer .media-body h4 {
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 500;
}

.iteminvoiceCustomer .media-body span {
    color: #323A45;
    font-size: 14px;
}