.notifikasi-customer {
    border: 1px solid #EDEBEA;
}

.notifikasiCustomerWrapper b {
    height: 17px;
    width: 166px;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-top: 22px;
}

.notifikasi-customer {
    padding: 22px;
}

.notifikasi-customer p {
    display: unset !important;
}

.notifikasi-customer img {
    float: right;
}