.priceLabelCorier {
    border-radius: 6px;
    background-color: #FFF6EF;
    height: 70px;
}

.priceLabelCorier p {
    color: #34495E;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.81px;
    padding-top: 15px;
}

.priceLabelCorier span {
    color: #9B9B9B;
    font-family: Helvetica;
    font-size: 12px;
}