.image-product-details img {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button-product-details {
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 300px;
    border: 1px solid #F5A623;
    border-radius: 3px;
    font-size: 14px;
    background-color: #F8F4F4;
}