.wrapper {
    max-width: 800px;
    margin: 4rem auto;
}

#tracking-progress .new-tracking-event-list:before {
    content: "";
    position: absolute;
    left: 90px;
    top: 12px;
    bottom: 40px;
    width: 1px;
    background: #fff;
    z-index: 2;
    border-width: 0 0 0 2px;
    border-style: dotted;
    border-color: #B4BFC9;
    border-image-source: url('https://cdn2.hubspot.net/hubfs/2092172/Design%20Elements/images/tracking-dots.svg');
    border-image-slice: 3;
    border-image-repeat: repeat;
}

#tracking-progress .public-type-indicator:after {
    position: absolute;
    border-radius: 50%;
    content: '';
    height: 16px;
    width: 16px;
    border: 2px solid #B4BFC9;
    left: 98px;
    top: 3px;
    background: white;
    z-index: 3
}

#tracking-progress .panel {
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

#tracking-progress .panel-body {
    padding: 0
}

#tracking-progress #icon-external {
    margin-bottom: 4px
}

#tracking-progress #help-centre {
    margin-top: 4px;
    padding-left: 0
}

#tracking-progress .public-type-name {
    font-size: 15px;
    font-weight: 600;
    color: #2A3A47;
    margin-left: 2em;
}

#tracking-progress .delivered .public-type-indicator:after {
    border-color: #01D277
}

#tracking-progress .pickup .public-type-indicator:after,
#tracking-progress .transit .public-type-indicator:after,
#tracking-progress .local-delivery .public-type-indicator:after,
#tracking-progress .info .public-type-indicator:after {
    border-color: #62CCCC
}

#tracking-progress .new-tracking-event-list {
    position: relative
}

#tracking-progress .progress-event {
    padding: 10px 0
}

#tracking-progress p {
    margin-left: 30px;
    margin-top: 5px;
}