.totalPriceCheckout {
    height: 19px;
    width: 54px;
    color: #9B9B9B;
    font-size: 14px;
    line-height: 19px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

span.priceCheckoutItem {
    color: #FFA122;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
}

span.priceCourierDelivery {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #9B9B9B;
    font-size: 13px;
    font-weight: 600;
}

.ongkosKirim {
    color: #9B9B9B;
    font-size: 13px;
    margin-left: 10px;
    line-height: 16px;
}

.priceCheckout {
    text-align: right;
}

.priceCheckout span {
    color: #323A45;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    margin-right: 10px;
}

.label-cart-product {
    line-height: 1.4em;
    font-family: 'Roboto', sans-serif !important;
    text-align: justify;
}