.checkoutDetailTitle {
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.price-label-cart span {
    float: right;
    font-size: 15px;
}

.price-label-cart p {
    display: unset;
}

.checkoutDetailTotal {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: 300;
    display: unset;
    font-family: 'Roboto', sans-serif;
}

.detailCheckoutItem {
    color: #323A45;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}